<div class="container"><h2 class="text-center">Book Details</h2></div>
<div>
  <h6>Title: </h6>
  <h4>
    <%= @book.name %>
  </h4>
</div>

<%# <%= link_to "Edit Post", edit_post_path(@post) %>
<%# <%= button_to 'Delete',  post_path(@post),  method: :delete %>  