<% content_for :custom_links do %>
  <li>
    <%= link_to "All Reviews", book_reviews_path(@book) %>
  </li>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Review Title</th>
      <td><%= @review.title %></td>
    </tr>
  <tr>
    <th>Description</th>
    <td> <%= @review.description %></td>
  </tr>
  <tr>
    <th>Rating</th>
    <td><%= @review.rate %></td>
  </tr>
  </thead>
</table>



